/********** NAVBAR **********/

nav {
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    align-items: center;
    max-height: 10vh;
    font-family: 'Merriweather-Regular';
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 10px;
}


.logo {
    display: flex;
    color: rgb(204, 204, 204);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 10px;
}

.logoLkr {
    width: 90px;
    height: 100%;
}


.logo h4 {
    margin: 0;
}

.logo:hover {
    color: white;
    text-decoration: none;
}

.navLinks {
   display: flex;
   list-style: none;
   justify-content: space-around;
   width: 35%;
   margin: 0;
}

.navLinks li {
    margin: auto;
    padding: 10px;
    border-top: solid 1px rgba(0, 0, 0, 0);
    border-left: solid 1px rgba(0, 0, 0, 0);
    border-right: solid 1px rgba(0, 0, 0, 0);
    border-bottom: solid 1px rgba(0, 0, 0, 0);
}

.navLinks li a {
    color:  rgb(204, 204, 204);
    letter-spacing: 1px;
}

.navLinks li a:hover {
    color: white;
    text-decoration: none;
    border-bottom: solid 1px rgb(122, 122, 122);
    
}

/***** burger *****/
.burger {
    display: none;
}

.burger:hover {
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:900px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        display: block;
    }
    .navLinks {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(0, 0, 0, 0.925);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navLinks li {
        opacity: 0;
    }
}

.navActive {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px); 
}


/********** IMG HEADER **********/

.photoScene {
    width: 100%;
}