/********** FONT **********/
@font-face {
    font-family: "Merriweather-Regular";
    src: url(../font/Merriweather-Regular.ttf); 
}

/********** ALL **********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}